html
  head
    title Neon
    script(src='/pretty.js')
    script(src='/verovio-toolkit.js')
    script(src='//code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js' integrity='sha256-0OcjjB7oKWCwru7gzilCYvXgTE9augkyvMI0WFC1ODg=' crossorigin='anonymous')
    script(src='/diva-v6.0.1/diva.js')
    link(rel='stylesheet' href='/diva-v6.0.1/diva.css')
  body
    .overlay#loading
      .loader
    nav.navbar.is-light
      .navbar-brand
        a.navbar-item(href='/')
          p Neon
        a.navbar-burger#burgerMenu(role="button" aria-label="menu" aria-expanded="false")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu#navMenu
        .navbar-start
          #dropdown_toggle
        .navbar-end
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link Help
            .navbar-dropdown.is-right
              a.navbar-item(href="//github.com/DDMAL/Neon/wiki/Instructions" target="_blank") User Guide
              a.navbar-item(href="//github.com/DDMAL/Neon/wiki" target="_blank") Wiki
              a.navbar-item(href="//ddmal.music.mcgill.ca" target="_blank") DDMAL
              a.navbar-item(onclick="hotkeyDialog()") Hotkeys
    .columns
      #notification-content(style={display: "none"})
      .column#container.is-two-thirds.box(style={height: "getHeight()"})
      .column.is-one-third.is-hidden-mobile#right-column
        .panel
          #display_controls
          #insert_controls
          #edit_controls
          #undoRedo_controls
        #neume_info
        #syl_text.box(style={"display": "none"})
      script(type='text/javascript').
        var meiFile = "#{meifile}";
        var bgImg = "#{bgimg}";
        var uuid = "urn:uuid:#{uuid}";
        var manifest = "";
        try {
          manifest = JSON.parse(decodeURIComponent("#{manifest}"));
        } catch (e) {}
        var iiif = "#{iiif}";

        function hotkeyDialog() {
          alert(
            "Hotkey : Action\n\n" +
            "+ : Zoom in\t\ts : Save File\t\tCtrl-z or \u{2318}-z : Undo\n" +
            "\u{2013} : Zoom out\t\th : Hide MEI\t\tCtrl-Z or \u{2318}-Z : Redo\n" +
            "0 : Zoom reset\n\n1/2/3/4 : Select by Syllable/Neume/Neume Component/Staff");
        }

        function getHeight() {
          alert(window.innerHeight);
        }
      script(src='/editor.js')
